<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC_Client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_Client.styles.css" asp-append-version="true" />
        @RenderSection("Styles", required: false)

</head>
<body>
    <header style="margin-top:20px">
        <nav class="navbar fixed-top">
       <div class="container-fluid">
           <div>logo</div>
           <div>
               <a asp-controller="Authentication" asp-action="Login">Login</a>
                    <a>Inro</a>
                    <a>Home</a>

           </div>
       </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
           
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
