@using MVC_Client.DTO;
@model CreateUniversityDTO
@section Styles
    {
    <style type="text/css">
    form h2{
        text-align:center;
        font-size:13px;
        color:cornflowerblue
    }     
    h1{
        margin-top:50px;
     margin-bottom:60px;
        color:cornflowerblue;
    }
    form {
        max-width:400px;
    }

        .form-group{
            margin: 10px 0;
        }

    </style>
    }
    <div>
    <h1>
        Welcome <br/>
        In Community of Scientist
    </h1>
    <form asp-controller="Registration" asp-action="University" method="post" >
        <div class="form-group">
            <input asp-for="Email"  type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <input asp-for="Password" type="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <input asp-for="Name" type="text" class="form-control" placeholder="Name">
        </div>
              <div class="form-group">
            <input type="text" asp-for="Secondname" class="form-control" placeholder="Secondname">
        </div>
        <hr />
        <h2>University info</h2>
        <div class="form-group">
            <input type="text" asp-for="NameOfUniversity" class="form-control" placeholder="Name of university">
        </div>
        <div class="form-group">
            <input type="text" asp-for="Address" class="form-control" placeholder="Address">
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>