html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
a {
    text-decoration: none;
    color:inherit;
}
.nav-item-chat a{
    margin-left:30px;
    
}
.form-group input{
    margin-bottom:30px;
}