@using MVC_Client.DTO.Server;
@model AuthDto
@section Styles{
    <style type="text/css">
        h1 {
            margin-top:50px;
            color: cornflowerblue
        }
        hr{
            color:blue
        }

        form {
            max-width: 400px;
        }

        .form-group {
            margin: 10px 0;
        }
    </style>

}
<h1>Enter to <br /> application</h1>
<hr />


    <form asp-controller="Authentication" asp-action="Login" method="post" >
        <div class="form-group">
            <input asp-for="Email"  type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <input asp-for="Password" type="password" class="form-control" placeholder="Password">
        </div>
      
        <hr />
  
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
