@using MVC_Client.Models.Chat;
@model Notification

<div margin-top:100px>
	
	<div class="item-noti">
		<h1 style="color:cornflowerblue">@Model.FromWhom</h1>
		<p style="border-left:1px solid blue; border-right:1px solid blue;">@Model.MessageText</p>
		@if (string.IsNullOrEmpty(Model.RoomName))
		{
			<div class="form-btn">
				<form method="post" action="/accept-notification/@Model.Id">
					<button>accept</button>

				</form>
				<form action="/notificaiton-delete/@Model.Id" method="post">
					<button>cansel</button>

				</form>
			</div>

		}
		else
		{
			<form method="post" action="/accept-notification-group?roomName=@Model.RoomName&emailForRoom=@Model.FromWhom">
				<button>accept</button>

			</form>
		}
	
	</div>
</div>